body {
    background-color: #f8f8f8;
    background-image: url("../img/greyzz.png");
}

#wrapper {
    width: 100%;
}

.panel-body {
    min-height: 350px;
    max-height: 350px;
    overflow-y: scroll;
}

.panel-body::-webkit-scrollbar {
    display: none;
}

img {
    min-height: 270px;
    max-height: 270px;
}

.fa {
    color: #4d4f4f;
}

.panel-footer a {
    color: #1c1c1c;
}

